:root {
  --main-color: #d6d6d6;
  --secondary-color: #7c8a39;
  --tertiary-color: #163018;
  --main-font: "Nunito", sans-serif;
  --secondary-font: "Yanone Kaffeesatz", sans-serif;
}

#homepage-body {
  background-color: var(--tertiary-color);
  background-position: center;
  background-size: cover;
  padding: 50px 20px;
}

.name-header {
  color: white;
  border-radius: 4px;
  max-width: fit-content;
  margin: 100px auto;
  justify-content: center;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 68px;
  font-family: var(--main-font);
}
h2 {
  font-size: 24px;
  font-family: var(--secondary-font);
  font-weight: 300;
}
h3 {
  color: var(--main-color);
  font-size: 24px;
  font-family: var(--secondary-font);
  font-weight: 300;
}

p {
  font-family: var(--main-font);
}

.navigation {
  text-align: center;
  padding-top: 30px;
}
.nav-button {
  color: white;
  text-decoration: none;
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
}
.nav-button:hover {
  color: var(--secondary-color);
}

.img-weather-homepage {
  width: 300px;
  height: 300px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/weather-app.JPG);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  border-radius: 4px;
}
.img-mock-portfolio-homepage {
  width: 300px;
  height: 300px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/mock-portfolio.JPG);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  border-radius: 4px;
  border: solid lightgrey 1px;
}
.img-coming-soon {
  width: 300px;
  height: 300px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/coming-soon.jpg);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  border-radius: 4px;
}

.image p {
  opacity: 0;
  transform: scale(0);
  transition: 0.7s;
  color: white;
  font-size: 22px;
}

.image:hover {
  box-shadow: 0 0 0 150px rgba(0, 0, 0, 0.75) inset;
}
.image:hover p {
  opacity: 1;
  transform: scale(1);
}
.project-languages {
  font-size: 12px;
  display: block;
  text-align: center;
}

.learn-more-btn {
  text-decoration: none;
  color: white;
  background-color: var(--secondary-color);
  padding: 5px;
  font-size: 18px;
  border-radius: 4px;
  display: block;
  text-align: center;
}
.learn-more-btn:hover {
  color: var(--secondary-color);
  background-color: white;
}

nav ul {
  padding: 0;
  line-height: 2;
  margin-bottom: 0;
  color: white;
}
nav li {
  list-style: none;
  display: inline;
}

.nav-name {
  display: inline;
  text-decoration: none;
  font-family: var(--secondary-font);
  font-size: 20px;
  color: white;
  line-height: 2;
}
.nav-name:hover {
  color: white;
}

.nav-background {
  background-color: var(--tertiary-color);
}

.profile-pic {
  width: 450px;
}

.contact {
  text-align: center;
  font-size: 18px;
  margin-top: 30px;
}

.contact a {
  text-decoration: none;
  color: var(--secondary-color);
}
.contact a:hover {
  color: var(--tertiary-color);
}

.linkedin-github {
  text-align: center;
  font-size: 24px;
}
.linkedin-icon,
.github-icon,
.email-icon {
  color: var(--tertiary-color);
}
.linkedin-icon:hover,
.github-icon:hover,
.email-icon:hover {
  color: var(--secondary-color);
  cursor: pointer;
}
.email-icon,
.linkedin-icon {
  margin-right: 5px;
}

footer {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
  padding: 5px;
  font-size: 18px;
}

@media (max-width: 320px) {
  .image {
    width: 200px;
    height: 200px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 18px;
  }
}
